[Unit]
Description=MailHog Email Catcher
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/env {{ mailhog_install_dir }}/mailhog > /dev/null 2>&1 &
StandardOutput=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target
