# Autodetect text files.
* text=auto

# Explicitly declare text files to be normalized to native line endings.
.gitignore text
.gitattributes text
*.xml   text
*.yml   text
*.yaml  text
*.json  text
*.txt   text
*.md    text
*.htm   text
*.html  text
*.xhtml text
*.js    text
*.ts    text
*.css   text
*.less  text
*.scss  text
*.cfg   text
LICENSE text

# Declare files that will always have CRLF line endings on checkout.
*.bat text eol=crlf
*.cmd text eol=crlf

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf
*.service eol=lf
*.conf    eol=lf
*.desktop eol=lf
*.j2      eol=lf

# Denote all files that are truly binary and should not be modified.
*.jpg  binary
*.jpeg binary
*.gif  binary
*.png  binary
*.t3x  binary
*.t3d  binary
*.exe  binary
*.data binary
*.ttf  binary
*.eof  binary
*.eot  binary
*.swf  binary
*.mov  binary
*.mp4  binary
*.mp3  binary
*.ogg  binary
*.flv  binary
*.ico  binary
*.gz   binary
*.zip  binary
*.7z   binary

# Denote all folders to ignore during export.
.github/ export-ignore
utils/   export-ignore

# Merge changelog to avoid conflicts.
.github/CHANGELOG.md merge=union
