loc_name=Melbourne, Florida
lat=28.211901
lon=-80.758301
msl=7
timezone=America/New_York
cache_file_max_age=172800
power_saving=true
units_temperature=1
units_pressure=2
units_windspeed=1
units_precipitation=1
units_altitude=1
model_apparent_temperature=0
round=true
single_row=true
tooltip_style=0
forecast_layout=1
forecast_days=5
scrollbox_animate=true
theme_dir=/usr/share/xfce4/weather/icons/WSky-Light
show_scrollbox=true
scrollbox_lines=1
scrollbox_font=Roboto 10
scrollbox_color=#000000000000
scrollbox_use_color=false
label0=3

