<VirtualHost *:80>
  ServerAlias localhost *.*.dev
  VirtualDocumentRoot /var/www/%2/public_html
  UseCanonicalName Off
</VirtualHost>

<VirtualHost *:80>
  ServerAlias localhost *.dev
  VirtualDocumentRoot /var/www/%1/public_html
  UseCanonicalName Off
  <Directory "/var/www">
    Options FollowSymLinks
    AllowOverride All
    Order allow,deny
    Allow from all
  </Directory>
</VirtualHost>