### OS Generated ###
*~
.DS_Store
.DS_Store?
.Trash-*

### Dotfiles ###
*.box
*.log
*.out
*.swp
*.py[co]

### IDE Files ###
*.sublime-project
*.sublime-workspace

### Virtualbox ###
.virtualbox
vbox_host.cfg

### Vagrant ###
.vagrant
*.box

### Ansible ###
*.retry
.vault

### Other ###
!empty
