[General]
alfred_note_shown=true
alwaysOnTop={{ albert_always_on_top }}
clearOnHide={{ albert_clear_on_hide }}
displayIcons={{ albert_display_icons }}
displayScrollbar={{ albert_display_scrollbar }}
displayShadow={{ albert_display_shadow }}
hideOnClose={{ albert_hide_on_close }}
hideOnFocusLoss={{ albert_hide_on_focus_loss }}
hotkey={{ albert_hotkey }}
itemCount={{ albert_item_count }}
showCentered={{ albert_show_centered }}
showTray={{ albert_show_tray }}
terminal={{ albert_terminal }}
theme={{ albert_theme }}
