# {{ ansible_managed }}

LANG="{{ locales_default_lang | default(locales_present[0]) }}"
{% if locales_default_language is defined and locales_default_language != '' %}
LANGUAGE="{{ locales_default_language }}"
{% endif %}
{% if locales_default_lc_address is defined and locales_default_lc_address != '' %}
LC_ADDRESS="{{ locales_default_lc_address }}"
{% endif %}
{% if locales_default_lc_all is defined and locales_default_lc_all != '' %}
LC_ALL="{{ locales_default_lc_all }}"
{% endif %}
{% if locales_default_lc_collate is defined and locales_default_lc_collate != '' %}
LC_COLLATE="{{ locales_default_lc_collate }}"
{% endif %}
{% if locales_default_lc_ctype is defined and locales_default_lc_ctype != '' %}
LC_CTYPE="{{ locales_default_lc_ctype }}"
{% endif %}
{% if locales_default_lc_identification is defined and locales_default_lc_identification != '' %}
LC_IDENTIFICATION="{{ locales_default_lc_identification }}"
{% endif %}
{% if locales_default_lc_measurement is defined and locales_default_lc_measurement != '' %}
LC_MEASUREMENT="{{ locales_default_lc_measurement }}"
{% endif %}
{% if locales_default_lc_messages is defined and locales_default_lc_messages != '' %}
LC_MESSAGES="{{ locales_default_lc_messages }}"
{% endif %}
{% if locales_default_lc_monetary is defined and locales_default_lc_monetary != '' %}
LC_MONETARY="{{ locales_default_lc_monetary }}"
{% endif %}
{% if locales_default_lc_name is defined and locales_default_lc_name != '' %}
LC_NAME="{{ locales_default_lc_name }}"
{% endif %}
{% if locales_default_lc_numeric is defined and locales_default_lc_numeric != '' %}
LC_NUMERIC="{{ locales_default_lc_numeric }}"
{% endif %}
{% if locales_default_lc_paper is defined and locales_default_lc_paper != '' %}
LC_PAPER="{{ locales_default_lc_paper }}"
{% endif %}
{% if locales_default_lc_response is defined and locales_default_lc_response != '' %}
LC_RESPONSE="{{ locales_default_lc_response }}"
{% endif %}
{% if locales_default_lc_telephone is defined and locales_default_lc_telephone != '' %}
LC_TELEPHONE="{{ locales_default_lc_telephone }}"
{% endif %}
{% if locales_default_lc_time is defined and locales_default_lc_time != '' %}
LC_TIME="{{ locales_default_lc_time }}"
{% endif %}
