# Default behaviour
* text=auto

# These files are text and should be normalized (Convert crlf => lf)
*.xml     text eol=lf
*.txt     text eol=lf
*.yml     text eol=lf
*.yaml    text eol=lf
*.sh      text eol=lf
*.bats    text eol=lf
*.py      text eol=lf
*.j2      text eol=lf

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.png  binary
*.jpg  binary
*.jpeg binary
*.gif  binary
*.ico  binary
*.gz   binary
*.zip  binary
*.7z   binary
*.ttf  binary
