[General]
alfred_note_shown=true
alwaysOnTop={{ desktop_albert_always_on_top }}
clearOnHide={{ desktop_albert_clear_on_hide }}
displayIcons={{ desktop_albert_display_icons }}
displayScrollbar={{ desktop_albert_display_scrollbar }}
displayShadow={{ desktop_albert_display_shadow }}
hideOnClose={{ desktop_albert_hide_on_close }}
hideOnFocusLoss={{ desktop_albert_hide_on_focus_loss }}
hotkey={{ desktop_albert_hotkey }}
itemCount={{ desktop_albert_item_count }}
showCentered={{ desktop_albert_show_centered }}
showTray={{ desktop_albert_show_tray }}
terminal={{ desktop_albert_terminal }}
theme={{ desktop_albert_theme }}
