[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Minecraft
Comment=Minecraft
Icon=minecraft
Exec=java -jar /usr/local/bin/Minecraft.jar
StartupNotify=false
Categories=Game;
Terminal=false
